@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    transition: 0.5s ease-in-out;
    scroll-padding-top: 90px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

body {
    background: #1A1E23;
}

/* header */
.header {
    box-shadow: 10px 0 10px #cdcdcd;
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-menu a {
    color: #494949;
}

.header-menu a:hover {
    color: #DF9130;
}

.header-phone {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-phone a {
    color: #494949;
}

.burger {
    display: none;
}

/* banner */
.banner .container {
    padding: 100px 0 50px;
    position: relative;
}

.banner-text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 60px;
}

.main-banner-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 592px;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    color: #E0E0E0;
}

.main-banner-text p {
    font-size: 20px;
    font-weight: 500;
    color: #E0E0E0;
    opacity: 0.5;
}

.other-banner-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 491px
}

.other-banner-text h3 {
    font-size: 24px;
    font-weight: 600;
    color: #E0E0E0;
}

.other-banner-text p {
    color: #E0E0E0;
}

.other-banner-text span {
    color: #E0E0E0;
    opacity: 0.5;
}


.banner-btn {
    position: absolute;
    left: 0%;
    top: 35%;
}

/* about */
.about {
    padding: 50px 0;
}

.about .container {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: end;
    gap: 25px;
    margin-bottom: 70px;
}

.title h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    opacity: 0.7;
    position: relative;
}

.title h2::before {
    content: "";
    position: absolute;
    width: 1129px;
    height: 1px;
    background: #E0E0E0;
    opacity: 0.5;
    top: -4px;
    left: 0;
}

.circle {
    width: 46px;
    height: 46px;
    border-radius: 30px;
    border: 1px solid white;
}

.circle span {
    font-size: 32px;
    color: #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
}

.about-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 491px;
}

.about-text h3 {
    font-size: 32px;
    font-weight: 500;
    color: #E0E0E0;
}

.about-text p {
    color: #E0E0E0;
    opacity: 0.5;
}

/* catalog */
.catalog {
    padding: 50px 0;
}

.catalog .container {
    display: flex;
    flex-direction: column;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 35px;
}

.btn-filter {
    width: 288px;
    padding: 15px 18px;
    background: #333940;
    color: #E0E0E0;
    opacity: 0.5;
    text-transform: uppercase;
}

.search {
    border-radius: 30px 0 0 0;
}

.acc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    border-radius: 0 0 30px 0;
}

.catalog-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.c-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 288px;
}

.c-block-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-block-title h4 {
    font-size: 18px;
    font-weight: 500;
    color: white;
    opacity: 0.7;
}

.hidden-c-block {
    display: none;
    flex-direction: column;
    gap: 8px;
    color: #E0E0E0;
    opacity: 0.5;
    padding: 10px 0 15px;
}

.hidden-c-block-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-block .btn {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    text-transform: uppercase;
    color: #1A1E23;
    padding: 12px 0;
    border-radius: 0 0 0 30px;
    background: #DF9130;
}

.btn-post-catalog {
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #DF9130;
    gap: 10px;
}

.toggle-btn {
    cursor: pointer;
}

.toggle-btn.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

/* CSS class to show hidden content */
.hidden-c-block.active {
    display: flex;
}

/* projects */
.projects .container {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.project-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.projects-text-block {
    display: flex;
    flex-direction: column;
}

.projects-text-block h3 {
    font-size: 32px;
    font-weight: 500;
    color: #E0E0E0;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.project-accordeons {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    max-width: 592px;
}

.projects-accordeon {
    padding: 15px 0;
    border-top: 1px solid rgba(224, 224, 224, 0.5);
    border-bottom: 1px solid rgba(224, 224, 224, 0.5);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.projects-accordeon+.projects-accordeon {
    border-top: none;
}

.projects-accordeon-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.projects-accordeon-title h4 {
    font-size: 24px;
    color: #E0E0E0;
}

.projects-accordeon-hidden {
    display: none;
    flex-direction: column;
    gap: 15px;
}

.projects-hidden-text {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 8px;
}

.projects-hidden-text p {
    color: #E0E0E0;
    opacity: 0.5;
}

.main-p {
    width: 286px;
}

.projects .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #DF9130;
    color: #1A1E23;
    padding: 19px 0;
    border-radius: 0 0 0 30px;
    width: 375px;
    text-transform: uppercase;
}

.slider-img {
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 5px;
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.slides {
    max-width: 100%;
    height: auto;
    display: none;
}

.slides.active {
    display: block;
}

.arrows button {
    background: #DF9130;
    border: none;
    padding: 5px 10px;
    color: #1A1E23;
    cursor: pointer;
    border-radius: 5px;
}

/* price */
.price .container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.price-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-block-text {
    display: flex;
    flex-direction: column;
    max-width: 592px;
}

.price-block-text h2 {
    font-size: 32px;
    font-weight: 500;
    color: #E0E0E0;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.price-block-text p {
    font-size: 20px;
    color: #E0E0E0;
    opacity: 0.5;
}

.price-block-text span {
    font-size: 20px;
    color: #E0E0E0;
    opacity: 0.7;
    margin: 12px 0 8px;
}

form {
    display: flex;
    flex-direction: column;
    width: 339px;
    gap: 18px;
}

form h3 {
    font-size: 24px;
    color: #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input {
    width: 100%;
    background: #333940;
    padding: 15px 18px;
    border: none;
    outline: none;
}

input.first {
    border-radius: 24px 0 0 0;
}

form input::placeholder {
    font-size: 14px;
    color: #E0E0E0;
    opacity: 0.5;
    text-transform: uppercase;
}

form textarea {
    min-height: 80px;
    background: #333940;
    border-radius: 0 0 24px 0;
    padding: 15px 18px;
    width: 100%;
    border: none;
    outline: none;
}

form textarea::placeholder {
    font-size: 14px;
    color: #E0E0E0;
    opacity: 0.5;
    text-transform: uppercase;
}

form input[type="submit"] {
    width: 100%;
    border-radius: 49px 0 27px 49px;
    background: #DF9130;
    color: #1A1E23;
    padding: 18px 85px;
    font-size: 18px;
}

/* qoestions */
.questions .container {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.qustions-block {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.questions-block-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: url(../image/questions/Calling.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 591px;
    height: 591px;
}

.questions-block-text h3 {
    font-size: 32px;
    font-weight: 500;
    color: #E0E0E0;
}

.questions-block-text p {
    font-size: 20px;
    color: #E0E0E0;
    opacity: 0.5;
}

.questions-block-text a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #DF9130;
}

.questions-block-text a>p {
    color: #DF9130;
}

.questions input.first {
    border-radius: 0 24px 0 0;
}

.questions textarea {
    border-radius: 0 0 0 24px;
}

/* footer */
.footer {
    border-top: 2px solid #DF9130;
}

.footer .container {
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .container p {
    color: #E0E0E0;
    opacity: 0.5;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media(max-width: 380px) {
    .container {
        max-width: 370px;
    }

    /* header */
    .header {
        box-shadow: 5px 0 5px #cdcdcd;
        width: 380px;
    }

    .header .container {
        padding: 15px 0;
        justify-content: space-between;
    }

    .logo {
        width: 90px;
    }

    .header-menu {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #333940;
        padding: 20px;
        z-index: 1;
    }

    .header-menu a {
        color: #E0E0E0;
    }

    .header-menu.active {
        display: flex;
    }

    .header-phone {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        width: 30px;
        height: 21px;
        cursor: pointer;
    }

    .burger-menu span {
        display: block;
        width: 100%;
        height: 3px;
        background: #DF9130;
        position: relative;
    }

    .burger-menu span:before,
    .burger-menu span:after {
        content: "";
        width: 100%;
        height: 3px;
        background: #DF9130;
        position: absolute;
        left: 0;
    }

    .burger-menu span:before {
        top: -8px;
    }

    .burger-menu span:after {
        bottom: -8px;
    }

    /* banner */
    .banner .container {
        padding: 80px 0 50px;
    }

    .banner-text {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        gap: 25px;
    }

    .main-banner-text {
        max-width: 100%;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .main-banner-text p {
        font-size: 16px;
    }

    h1 {
        font-size: 26px;
    }

    .other-banner-text {
        max-width: 100%;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .other-banner-text p,
    .other-banner-text span {
        font-size: 14px;
    }

    h3 {
        font-size: 20px;
    }

    .banner-btn {
        position: absolute;
        top: 60%;
        left: 0;
    }

    .banner-btn img {
        width: 70px;
        height: 70px;
    }

    .main-img-banner {
        width: 100%;
    }

    /* about */
    .about {
        padding: 30px 0;
    }

    .about .container {
        flex-direction: column;
    }

    .title {
        margin-bottom: 40px;
    }

    .title h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .title h2::before {
        content: "";
        position: absolute;
        width: 300px;
        height: 1px;
        background: #E0E0E0;
        opacity: 0.5;
        top: -4px;
        left: 0;
    }

    .circle {
        width: 40px;
        height: 40px;
    }

    .circle span {
        font-size: 24px;
    }

    .about-block {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .about-text h3 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    .about-block img {
        width: 100%;
    }

    /* catalog */
    .catalog {
        padding: 30px 0;
    }

    .filter {
        flex-direction: column;
        align-items: flex-start;
    }

    .btn-filter {
        width: 100%;
        margin-bottom: 20px;
    }

    .catalog-block {
        flex-direction: column;
        gap: 30px;
    }

    .c-block {
        max-width: 100%;
    }

    .c-block-title h4 {
        font-size: 16px;
    }

    .hidden-c-block {
        display: none;
    }

    .hidden-c-block.active {
        display: flex;
    }

    .c-block .btn {
        width: 100%;
        padding: 10px 0;
    }

    /* projects */
    .projects .container {
        padding: 30px 0;
    }

    .project-block {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .projects-text-block h3 {
        font-size: 22px;
        text-align: center;
        margin-bottom: 15px;
    }

    .projects-accordeon {
        padding: 10px 0;
    }

    .projects-accordeon-title h4 {
        font-size: 18px;
    }

    .projects-hidden-text p {
        font-size: 14px;
    }

    .projects-accordeon-hidden {
        max-width: 370%;
    }

    .main-p {
        width: 100px;
    }

    .projects .btn {
        width: 100%;
    }

    .slider-img {
        gap: 10px;
        max-width: 370px;
    }

    .slides img {
        width: 370px;
    }

    /* price */
    .price .container {
        padding: 30px 0;
    }

    .price-block {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .price-block-text h2 {
        font-size: 22px;
        text-align: center;
        margin-bottom: 6px;
    }

    .price-block-text p,
    .price-block-text span {
        font-size: 14px;
        text-align: center;
    }

    .price-block-text {
        max-width: 370px;
    }

    form {
        width: 100%;
        gap: 12px;
    }

    form h3 {
        font-size: 20px;
    }

    form input,
    form textarea {
        padding: 12px;
    }

    form input[type="submit"] {
        padding: 15px;
        font-size: 16px;
    }

    /* questions */
    .questions .container {
        padding: 30px 0;
    }

    .qustions-block {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .questions-block-text {
        width: 100%;
        height: auto;
        text-align: center;
        align-items: center;
    }

    .questions-block-text h3 {
        font-size: 28px;
    }

    .questions-block-text p {
        font-size: 16px;
    }

    .questions-block-text a {
        font-size: 16px;
        text-align: center;
    }

    /* footer */
    .footer .container {
        flex-direction: column;
        padding: 20px 0;
        gap: 30px;
    }

    .footer .container p {
        font-size: 14px;
        text-align: center;
    }

    .footer-links {
        gap: 15px;
        justify-content: center;
    }
}